.background-image {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: rgb(var(--clr-dark));
  color: rgb(var(--clr-light));
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  background-size: cover;

  &.background-homepage {
    background-image: url(./assets/home/background-home-mobile.jpg);
    background-position: bottom center;
  }
  &.background-destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
    background-position: center top;
  }

  &.background-crew {
    background-image: url(./assets/crew/background-crew-mobile.jpg);
  }

  &.background-technology {
    background-image: url(./assets/technology/background-technology-mobile.jpg);
  }

  @media (min-width: 48em) {
    &.background-homepage {
      background-image: url(./assets/home/background-home-tablet.jpg);
      background-position: center center;
    }

    &.background-destination {
      background-image: url(./assets/destination/background-destination-tablet.jpg);
    }

    &.background-crew {
      background-image: url(./assets/crew/background-crew-tablet.jpg);
    }

    &.background-technology {
      background-position: top right;
      background-image: url(./assets/technology/background-technology-tablet.jpg);
    }
  }

  @media (min-width: 64em) {
    &.background-homepage {
      background-image: url(./assets/home/background-home-desktop.jpg);
    }
    &.background-destination {
      background-image: url(./assets/destination/background-destination-desktop.jpg);
    }

    &.background-crew {
      background-image: url(./assets/crew/background-crew-desktop.jpg);
    }

    &.background-technology {
      background-position: top right;
      background-image: url(./assets/technology/background-technology-desktop.jpg);
    }
  }
}
