.bg-dark {
    background-color: rgb( var(--clr-dark) );
  }
  
  .bg-accent {
    background-color: rgb( var(--clr-accent) );
  }
  
  .bg-light {
    background-color: rgb( var(--clr-light) );
  }

  .bg-transparent {
    background-color: transparent;
  }
  
  .text-dark {
    color: rgb( var(--clr-dark) );
  }
  
  .text-accent {
    color: rgb( var(--clr-accent) );
  }
  
  .text-light {
    color: rgb( var(--clr-light) );
  }
  