.grid-container--crew > img {
    grid-area: image;
    max-width: 90%;
    border-bottom: 1px solid rgba( var(--clr-light), 0.1);

    @media(min-width: 35em){
        max-width: 60%;
    }
    @media(min-width: 64em){
        max-width: 90%;
    }
}