.mobile-nav-toggle {
    display: none;
    @media (max-width: 35rem){
        display: block;
        position: absolute;
        z-index: 20;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(../../../public/assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
        &[aria-expanded="true"]{
            background-image: url(../../../public/assets/shared/icon-close.svg);
        }
    }
}