
.large-button {
    font-size: 2rem;
    position: relative;
    z-index: 1;
    display: inline-grid;
    place-items: center;
    padding: 0 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    text-decoration: none;
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      background: rgba( var(--clr-light), 0.1);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 500ms linear, transform 700ms ease-in-out;
    }
    &:hover::after, :focus::after {
      opacity: 1;
      transform: scale(1.5);
    }
  }
  